.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    border-radius: 10px;
    padding: 10px;
    height: 4rem;
    margin-top: 2rem;
}

.searchbarMoonTheme {
    background-color: var(--darker-blue);
}

.searchbarSunTheme {
    background-color: var(--white);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.1986);
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-left: 1.7rem;
}

.searchBar input {
    width: 400px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.2rem;
}

.searchBar .search-container .inputMoonTheme::placeholder {
    color: var(--white);
}

.searchBar .search-container .inputSunTheme::placeholder {
    color: var(--darkest-blue);
}

.searchBar .search-container .inputMoonTheme:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px var(--darker-blue) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--white);
}

.searchBar .search-container .inputSunTheme:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px var(--white) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--darkest-blue);
}


.searchBar .search-container input::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
}

.searchBar .search-container .inputMoonTheme {
    color: var(--white);
}

.searchBar .search-container .inputSunTheme {
    color: var(--darkest-blue);
}

.searchBar button {
    font-family: 'Space Mono', monospace;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 10px;
    color: var(--white);
    padding: 12px 22px;
    font-weight: 700;
    font-size: 1.1rem;

    cursor: pointer;
    transition: .3s;
}

.searchBar button:hover {
    background-color: transparent;
    color: var(--blue);   
}

.error {
    color: crimson;
    margin-right: 15px;
    margin-left: 15px; 
    font-weight: 700;
}